@use '../variables' as *;

.btn-link {
  .btn {
    cursor: pointer;
    display: flex;
    padding: 11px 15px;
    gap: 8px;
    align-items: center;
    border-radius: 30px;
    outline: none;
    border: none;
   
    &.btn-primary {
      background: $clr-primary-400;
    }
    &.btn-secondary {
      background: $clr-neutral-200;
    }

    .icon-wrap {
      display: flex;
      align-items: center;
    }
  }
}