@use '../variables' as *;

.btn-link {
  .btn {
    cursor: pointer;
    display: flex;
    padding: 11px 15px;
    gap: 8px;
    align-items: center;
    border-radius: 30px;
    background: #F9CC09;
    outline: none;
    border: none;

    .icon-wrap {
      display: flex;
      align-items: center;
    }
  }
}