@use '../variables' as *;

header {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.4s linear;

  @media screen and (max-width: 425px) {
    top: 1rem;
  }

  &.header-scroll {
    top: 0;
    position: fixed;
    z-index: 50;
    padding-block-start: .5rem;
    transition: all 0.5s ease;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 52px;
    border: 1px solid rgba(249, 233, 151, 0.35);
    // background: linear-gradient(90deg, #2D2A12 0%, #2A2717 30%, #2a2813 50%, #2A2717 70%, #2D2A12 100%);
    background: rgba(98, 91, 14, 0.378);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 27px 0px rgba(251, 213, 10, 0.10) inset;
    padding: 7px 9px;

    .nav-items {
      display: flex;
      align-items: center;
      gap: 12px;

      .nav-menu .nav-links {
        display: flex;

        .nav-link {
          padding-inline: 20px;
          position: relative;

          a {
            letter-spacing: 0.32px;
            opacity: .95;
            transition: opacity 0.3s ease-in-out;

            &:hover {
              opacity: .75;
            }
          }

          &.active {
            color: $clr-primary-400;

            &::before {
              content: "";
              position: absolute;
              bottom: .5rem;
              left: 50%;
              transform: translateX(-50%);
              background: rgb(251, 215, 10);
              filter: blur(13.5px);
              width: 60px;
              height: 7px;
            }
          }
        }

      }

      .nav-btns .nav-toggler {
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        height: 55px;
        width: 55px;
        display: none;
        border: 1px solid $clr-neutral-900;

        span {
          margin: auto;
        }

      }
    }

    .nav-toggler span,
    .nav-toggler span:before,
    .nav-toggler span:after {
      width: 25px;
      height: 3px;
      border-radius: 2px;
      background-color: $clr-neutral-900;
      display: block;
      transition: 0.3s;
    }

    .nav-toggler span:before {
      content: "";
      transform: translateY(-7px);
    }

    .nav-toggler span:after {
      content: "";
      transform: translateY(4px);
    }

    .nav-toggler.toggler-open span {
      background-color: transparent;
    }

    .nav-toggler.toggler-open span:before {
      transform: translateY(0px) rotate(45deg);
    }

    .nav-toggler.toggler-open span:after {
      transform: translateY(-3px) rotate(-45deg);
    }

    @media screen and (max-width: 1044px) {
      .logo-link {
        width: 180px;
      }

      .nav-btns {
        display: flex;
        gap: .75rem;
        align-items: center;
      }

      .nav-toggler {
        display: block;
      }

      .navbar {
        min-height: 60px;
      }

      .nav-menu .nav-links {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        flex-direction: column;
        align-items: end;
        background: #ebedf1f4;
        backdrop-filter: blur(21px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        height: 0;
        overflow: hidden;
        gap: 0;
        border-radius: 0;
        transition: height 0.1s ease-out;


        .nav-link {
          margin-block: $size-450;
          opacity: 0;
          font-size: 4rem;
          font-weight: 600;
          transition: opacity 0.8s ease-in;
          transition: margin-block 0.5s ease-out;
        }
      }

      .nav-links.open {
        opacity: 1;
        padding-top: 90px;
        padding-right: 1.5rem;
        height: 100vh;
        overflow: visible;
      }

      .nav-links.open .nav-link {
        opacity: 1;
        margin-block: $size-600;
        padding-block: 0;
      }
    }

    @media screen and (max-width: 540px) {
      .nav-btns .btn-link {
        display: none;
      }
    }
  }
}