@use '../variables' as *;


.glow-1 {
  position: absolute;
  top: 8rem;
  right: 0;
  z-index: -999;
}

.glow-2 {
  position: absolute;
  top: 15rem;
  left: 02rem;
  z-index: -9999;
}

.hero-section {
  margin-block-end: 11rem;

  .wrapper {
    margin-top: 9rem;

    .hero-text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      z-index: 100;

      .section-highlight {
        margin-inline: auto;
      }

      .highlight-bg {
        padding: 0px 12px;
        border-radius: 80px;
        font-family: $ff-accent;
        border: 1px solid #FBD50A;
        background: rgba(251, 227, 105, 0.11);
        height: 75px;
        display: inline-flex;
        width: fit-content;
        align-items: center;

        .highlight-text {
          font-weight: 650;
          background: $clr-primary-200;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

    }

    .hero-btns {
      margin-block-start: 20px;
      display: flex;
      gap: 9px;
      margin-inline: auto;
      width: fit-content;
      position: relative;
      z-index: 999;
    }

    .hero-bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .hero-socials {
        width: fit-content;
        height: fit-content;
        padding: 10px 8px;
        border-radius: 23px;
        border: 1px solid #B3A242;
        background: rgba(83, 72, 12, 0.46);
        backdrop-filter: blur(7px);

        .socials-header {
          display: flex;
          align-items: center;
          gap: 7px;
          font-size: $fs-body-2;
        }

        .socials-wrapper {
          display: flex;
          gap: 4px;
          align-items: center;
          border-radius: 11px;
          background: linear-gradient(90deg, #FCDA1D 0%, #E6CF51 100%);
          box-shadow: 0px 4px 17px 0px rgba(255, 205, 75, 0.46);
          padding: 5px 7px;
          margin-top: 14px;
        }
      }

      .hero-sub-headline {
        margin-top: 64px;
        max-width: 328px;

        svg.glowing-logo {
          margin-bottom: 5px;
          filter: drop-shadow(0px 0px 29px rgba(255, 215, 0));
        }
      }
    }
  }
}

.three-wrapper {
  margin-top: -1.8rem;
  position: absolute;
  top: 28rem;

  .three-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 550px;
    height: 550px;
    background: #fdd90d3d;
    filter: blur(90px);
  }

  @media screen and (max-width: 768px) {
    .three-overlay {
      width: 300px;
      height: 300px;
      filter: blur(130px);
    }
  }
}

.about-section {
  .wrapper {
    .about-text {
      margin-block: 21px 25px;
      max-width: 715px;
      color: $clr-neutral-600;
      font-size: 30px;
      line-height: 44px;
      letter-spacing: -0.9px;
    }
  }
}

.services-section {
  margin-block: 8.5rem 6rem;
  padding-block: 1rem;
  background-image: url("../../assets/services-bg.svg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 1180px;

  .wrapper {
    padding-block: 10rem;
    position: relative;

    .services-header {
      max-width: 800px;
      margin-inline: auto;

      .section-label {
        margin-inline: auto;
      }

      h2 {
        margin-block: 21px 38px;
      }
    }

    .glow-3 {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: blur(180px);
    }

    .services-box {
      .service {
        position: relative;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        padding: 54px 50px;
        max-width: 1110px;
        height: 572px;
        border-radius: 35px;
        background: rgba(49, 42, 30, 0.514);
        box-shadow: 3px 4px 44px 0px rgba(35, 34, 32, 0.26);
        backdrop-filter: blur(87px);

        &::before {
          content: "";
          position: absolute;
          top: -20px;
          right: -20px;
          width: 513px;
          height: 513px;
          border-radius: 513px;
          background: linear-gradient(143deg, rgba(252, 200, 10, 0.737) 21.49%, rgba(246, 189, 4, 0.7) 70.05%);
          filter: blur(180px);
          z-index: -10;
        }

        .col-1,
        .col-2 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .col-1 {
          max-width: 480px;

          a {
            width: fit-content;
          }
        }

        .col-2 {
          max-width: 460px;

          .abstract-shape {
            width: 295px;
            height: auto;
            mix-blend-mode: luminosity;
            filter: saturate(0.2);
          }

          .sub-headline {
            border-image: linear-gradient(90deg, #FBD50A 0%, #FF7A0A 131.19%) 1;
            border-width: 2px;
            border-style: solid;
            padding-top: 12px;
            border-left: none;
            border-right: none;
            border-bottom: none;

            color: $clr-neutral-300;
            line-height: 25px;
          }
        }
      }

    }
  }
}

.philosophy-section {
  margin-block: 4rem;
  position: relative;

  .wrapper {
    .philosophy-header {
      margin-inline: auto;

      .section-label {
        margin-inline: auto;
      }

      h2 {
        margin-block: 21px 38px;
      }
    }

    .glow-3 {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: blur(180px);
      z-index: -10;
    }

    .philosophies-box {
      display: flex;
      justify-content: center;

      .pillar-img {
        height: 600px;
        width: auto;

        &:nth-child(1) {
          z-index: -1;
          margin-right: -6rem;
        }

        &:nth-child(3) {
          z-index: -1;
          margin-left: -6rem;
        }
      }

    }

    .philosophy {

      .philosophy-no {
        font-size: 90px;
        color: #F7E68D;
      }

      .philosophy-name {
        font-size: 160px;
        margin-block: 2rem 2.2rem;
        color: $clr-neutral-100;
        padding: 2.4rem 1rem 4.55rem;
        width: fit-content;
        margin-inline: auto;
        border-bottom: 1px solid #f9eeb3;
        border-top: 1px solid #f9eeb3;
      }

      .sub-headline {
        margin-inline: auto;
        max-width: 600px;
      }
    }
  }
}

.design-portfolio-section {
  margin-block: 9rem 4rem;
  background-color: #F0EEE2;
  // height: 2000px;

  .wrapper {
    position: relative;
    padding-block: 140px 60px;
    color: $clr-neutral-900;

    .marquee-wrap {
      position: absolute;
      top: 44px;
      left: 0;

      display: flex;
      gap: 19px;
      font-size: 55px;
      white-space: nowrap;
      align-items: center;

      h2.font-accent-2 {
        font-size: 58px;
        color: $clr-neutral-900;
      }

      .slogan-1 {
        font-family: $ff-header;
      }

      .slogan-2 {
        font-family: $ff-body;
      }
    }

    .portfolio-header {
      display: flex;
      justify-content: space-between;

      p {
        margin-top: .25rem;
        max-width: 640px;
      }
    }

    .portfolio-projects {
      margin-block-start: 2.5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;

      .project-card:nth-child(even) {
        transform: translateY(6.5rem);
      }
    }

    .circle-btn-secondary {
      margin-inline: auto;
      margin-top: 10rem;
    }
  }
}

.marketing-portfolio {
  margin-block: 4rem;
  padding-block: 15rem;
  position: relative;

  .wrapper {
    .marketing-header {
      margin-inline: auto;
      max-width: 900px;

      h2 {
        margin-block: 21px 31px;
        line-height: 58px;
      }

      .section-label {
        margin-inline: auto;
      }

      .marketing-btns {
        display: flex;
        gap: 9px;
        margin-inline: auto;
        width: fit-content;
      }
    }

    .videos-showcase {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;

      .video-project {
        width: 300px;
        height: auto;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:nth-child(even) {
          transform: translateY(40%);
        }

        &:nth-child(odd) {
          transform: translateY(-40%);
        }
      }
    }

    .glow-3 {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: blur(180px);
      z-index: -10;
    }
  }
}

.why-us-section {
  margin-block: 8rem;

  .wrapper {
    position: relative;

    .why-us {

      .why-col-1 {
        max-width: 900px;

        h2 {
          margin-block: 21px 31px;
          line-height: 58px;
        }

        .reasons-box {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
          width: fit-content;

          .reason {
            max-width: 358px;
            padding: 1rem;
            border-radius: 10px;
            border: 1px solid rgba(251, 213, 10, 0.22);
            background: rgba(105, 97, 49, 0.23);
            backdrop-filter: blur(17px);

            h3 {
              margin-block: 11px 9px;
              font-size: 23px;
              font-weight: $fw-bold;
            }

            p {
              color: rgba(230, 230, 230, 0.91);
              font-size: $fs-sm;
              line-height: 23px;
            }
          }
        }
      }

      .why-col-2 {
        position: absolute;
        right: -2.5rem;
        top: -3rem;
        width: 45%;

      }
    }

    .glow-4 {
      position: absolute;
      top: -10rem;
      left: -15rem;
      z-index: -9999;
      transform: scale(1.5);
    }
  }
}

.contact-section {
  position: relative;

  .wrapper {
    padding-block: 10rem 4rem;

    h2 {
      font-size: 125px;
      letter-spacing: 1.25px;
      line-height: normal;
    }

    .contact-info {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-block: 8px 35px;

      .info-wrap {
        border-radius: 23px;
        background: rgba(49, 49, 46, 0.67);
        padding: 7px 18px;
      }
    }

    .cta-marquee {
      display: flex;
      align-items: center;
      gap: 19px;
      position: absolute;
      bottom: -3.65rem;
      left: 0;
      padding: 20px;
      font-size: 55px;
      color: $clr-neutral-900;
      white-space: nowrap;
      transform: rotate(-1.3deg);
      background: linear-gradient(90deg, #FBD50A 25.53%, #FFB10A 74.69%);

      .cta-2 {
        color: inherit;
        font-size: 58px;
      }

      .cta-1 {
        font-family: $ff-header;
      }

    }

    .marquee-bg {
      content: "";
      position: absolute;
      bottom: -3.65rem;
      left: 0;
      height: 100px;
      width: 110%;
      transform: rotate(1.15deg);
      background: rgba(255, 233, 117, .86);
      z-index: -10;
    }
  }
}