@use 'variables' as *;

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope-regular.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope-semibold.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: 'Aulia Grotesk';
  src: url('/fonts/Aulia Grotesk.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Swear Display';
  src: url('/fonts/Swear-Display-Medium-Cilati.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 650;
}

@font-face {
  font-family: 'Swear Display';
  src: url('/fonts/swear-display-medium.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

body {
  font-family: $ff-body;
  font-size: $fs-body;
  line-height: 28px;
  color: $clr-neutral-200;
}

.font-header-1 {
  font-family: $ff-header;
  font-size: 79px;
  color: $clr-neutral-100;
  font-weight: 400;
  line-height: normal;
}

.font-header-2 {
  font-family: $ff-header;
  font-size: 52px;
  color: $clr-neutral-100;
  line-height: 64px;
  font-weight: $fw-regular;
  overflow: hidden;
}

.font-header-3 {
  font-family: $ff-body;
  font-size: $fs-h3;
  color: $clr-neutral-900;
  line-height: normal;
  font-weight: $fw-semi-bold;
}

.sub-headline {
  color: $clr-neutral-300;
  font-weight: $fw-regular;
  line-height: 156%;
  letter-spacing: 0.32px;
}

.font-accent-1 {
  color: #FFF;
  font-family: "Swear Display";
  font-size: 35px;
  font-weight: $fw-bold;
  line-height: 44px;
  letter-spacing: -0.35px;

}

.font-accent-2 {
  color: #FFF;
  font-family: "Swear Display";
  font-size: 54px;
  font-weight: $fw-bold-2;
  line-height: 64px;
  letter-spacing: 1.08px;

  &.accent-gradient {
    background: linear-gradient(90deg, #FBD50A 0%, #FF7A0A 121.65%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 960px) {
  .font-header-1 {
    line-height: 33px;
  }

}

@media (max-width: 450px) {
  .font-header-1 {
    line-height: 32px;
  }

}