@use 'variables' as *;
@use 'reset';
@use 'typography';

// Components
@use 'components/button';
@use 'components/header';
@use 'components/footer';

body {
  background-color: #121212;
}

// Utility classes
.container {
  max-width: 1450px;
  padding-inline: $size-600;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .container {
    padding-inline: $size-250;
  }
}

.fw-regular {
  font-weight: $fw-regular;
}

.fw-semi-bold {
  font-weight: $fw-semi-bold;
}

.fw-bold {
  font-weight: $fw-bold;
}

.fw-bold-2 {
  font-weight: $fw-bold-2;
}

.text-center {
  text-align: center;
}

.section-label {
  border-radius: 8px;
  border-right: 2px solid rgba(251, 227, 10, 0.90);
  border-left: 2px solid rgba(251, 227, 10, 0.90);
  background: #322D11;
  width: fit-content;
  padding: 2px 10px;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #FBD50A;
  filter: blur(1.5px);
}

// Custom scrollbar styles
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #f0cb0e, #f0af2b);
  border-radius: 10px;
  border: 3px solid #201f1f;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #cead0b, #cc9423);
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

// * {
//   scrollbar-width: thin;
//   scrollbar-color: $clr-primary-400 #242424;
// }

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}