---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
// styles
import "../styles/pages/_index.scss";
---

<Layout
  title="Ecliptic Creative Agency - Home"
  description="A full service creative agency based in Addis Ababa, Ethiopia, and serving clients world wide."
>
  <main>
    <div class="three-wrapper">
      <div class="three-overlay"></div>
    </div>
  </main>

  <script src="../scripts/script.js"></script>
</Layout>
